@model INRAMVCDatPredWebCore.Models.Resolucion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCarpeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDCarpeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgrupacionSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgrupacionSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poligono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poligono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expediente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expediente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaseResolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaseResolucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoResolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoResolucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResolcuionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
