@model IEnumerable<INRAMVCDatPredWebCore.Models.Resolucion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCarpeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgrupacionSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poligono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaseResolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoResolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCarpeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgrupacionSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poligono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaseResolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoResolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResolcuionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResolcuionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResolcuionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
